.idea/
venv/
.venv/
__pycache__/
migrations/
*.py[cod]
.env


# Lokale SQLite-Datenbank
backend/database.db

#Profilbilder
app.config["UPLOAD_PATH"] = "frontend/static/profile_pictures"
frontend/static/profile_pictures/
