<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notifications - ClockWise</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='navbar.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dashboard.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='notifications.css') }}"
    />
  </head>
  <body class="dark-mode">
    {% include 'navbar.html' %}

    <main class="notification-container">
      <h1>Notifications</h1>
      {% if notifications %}
      <div class="notification-list">
        {% for note in notifications %}
        <div class="notification-card">
          <div class="notification-message">{{ note.message }}</div>
          <button
              class="delete-btn"
              onclick="deleteNotification({{ note.id }})"
            >
              Delete
            </button>
            {% if not note.is_read %}
              <button
                class="read-btn"
                onclick="markAsRead({{ note.id }})"
              >
                Mark As Read
              </button>
            {% endif %}
        </div>
        {% endfor %}
      </div>
      {% else %}
      <p>You currently have no new notifications.</p>
      {% endif %}
    </main>

    <script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
  </body>
</html>
